/* PasswordChecker.css */

.pass-check {
    background-color: #001F3F;
    /* light gray background */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto;
}

.pass-check label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.pass-check input[type="password"] {
    height: 20px;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #6A9AB0;
    border-radius: 5px;
}

.pass-check p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

/* add some color to the password strength indicator */
.pass-check p {
    color: #666;
}

.pass-check p:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.pass-check p[data-strength="Weak"] {
    color: #ff0000;
    /* red */
}

.pass-check p[data-strength="Weak"]:after {
    background-color: #ff0000;
    /* red */
}

.pass-check p[data-strength="Medium"] {
    color: #ffff00;
    /* yellow */
}

.pass-check p[data-strength="Medium"]:after {
    background-color: #ffff00;
    /* yellow */
}

.pass-check p[data-strength="Strong"] {
    color: #00ff00;
    /* green */
}

.pass-check p[data-strength="Strong"]:after {
    background-color: #00ff00;
    /* green */
}